<!-- <button (click)='childappvideo.childFunction()'>Parent button</button>

<h1>Parent</h1>
{{childappvideo.title}}
<h1>Child Area</h1>
<app-video #childappvideo [setData]='childtitle' (myEvent)='parentFunction($event)'></app-video> -->
<style>
    table,td,th{
        border: 1px solid black;
    }
    table{
        border-collapse: collapse;
        width: 90%;
    }
    th{
        height: 50px;
    }
</style>
<h2>Get Request</h2>
<table>
    <tr>
        <th>Post Id</th>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Body</th>
    </tr>
    <tr *ngFor="let com of lstcomments">
        <td>{{com.postId}}</td>
        <td>{{com.id}}</td>
        <td>{{com.name}}</td>
        <td>{{com.email}}</td>
        <td>{{com.body}}</td>
    </tr>
</table>

<h2>Getbyparameter</h2>
<table>
    <tr>
        <th>Id</th>
        <th>UerId</th>
        <th>Title</th>
        <th>Body</th>
    </tr>
    <tr *ngFor="let com of lstPosts">
        <td>{{com.id}}</td>
        <td>{{com.userId}}</td>
        <td>{{com.title}}</td>
        <td>{{com.body}}</td>
    </tr>
</table>